/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar {
  width: 4px;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


body {
	padding: 5px;
	margin:0;
	font-family: monospace;
	font-size: 13px;
}

#container{

	margin: 5px;
	//display:grid;
	//grid-template-columns: minmax( 600px, 700px );


}

#header{

	text-align:center;
	min-width: 600px;
	max-width: 1000px;
	padding:15px;
	font-weight: bold;


}

#content{
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 300px, 500px ) );
}

#left, #right {
	overflow-y:scroll;
	height: 400px;
	border: 1px solid grey;
	padding: 35px;
	padding-left: 40px;
	border-radius: 0% 0% 0% 0%;
	border-bottom: 0px;
}

#left { border-radius: 10% 0% 0% 0%; }

#right{ 
		border-radius: 0% 10% 0% 0%; 
		direction:rtl;
}

#right>div {
	direction: ltr;
}

.topic {
	border-top: 2px solid #b9b2aa;
	padding: 10px 21px 10px 0;
	/* background:#f9ecda; */
	min-height: 40px;
	margin-bottom: 0px;
}

.topic ~ div, .topic ~ div > * {

	height: 0px;
	opacity:0;
	transition: 2s;
}

.topic.clicked {
	padding-top, padding-bottom: 15px;
}

.topic.clicked ~ div, .topic.clicked ~ div > *{

	//display: block;
	height: fit-content;opacity:0.99;padding-top: 20px;padding-bottom: 20px;}

.topic div {
	padding-left: 20px;
}

.topic:before{
	font-size: 23px;
	content:" + ";
	position:relative;
	left: 100%;
	top: 20px;
	
	
}


@media only screen and (max-width: 600px) {

	.topic:before{
        	
        	left: 100%;
		top: 10px;
	}

	#header{
		min-width: 100px;
	}

	#left, #right {
		overflow-y: unset;
		height: fit-content;
	}

}



}
